.nav {
    background: url("https://image.spreadshirtmedia.com/content/f_auto,q_80/v2/CMS/Startpage/Hero/christmas2023v2/Xmas23_HP2_desktop_NA/XmasHP2_23_HPteaser_desktop_NA.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    text-align: center;
}